<p id="notice"><%= notice %></p>

<h1>Meeting with <%= @user.name %></h1>
<p>at <%= @meeting.time.strftime("%m/%d %I:%M%p") %></p>

<p><strong>Notes:</strong></p>
<p><%= @meeting.notes %></p>

<%= link_to 'Edit', edit_user_meeting_path(@user,@meeting.id) %> |
<%= link_to 'Back', users_path %>
