<p id="notice"><%= notice %></p>

<h1>Direct Reports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Meeting</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_reports.each do |direct_report| %>
      <tr>
        <td><%= direct_report.name %></td>
	<td><%= direct_report.last_meeting_time_for_view %></td>
	<td><%= link_to 'Meet', new_direct_report_meeting_path(direct_report) %></td>
        <td><%= link_to 'Show', direct_report %></td>
        <td><%= link_to 'Edit', edit_direct_report_path(direct_report) %></td>
        <td><%= link_to 'Destroy', direct_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct Report', new_direct_report_path %>
