      <h5>Collaboration</h5>
      <div class="card-text">
        <p>
          Participates and possibly organizes training and educational sessions in their area of expertise as business needs arise. Every software developer, across all levels of expertise, should be willing to work collaboratively on a larger team and in paired-programming situations. Stays engaged when paired programming and is willing to observe and drive during paired programming; recognizes when it would be beneficial to pair program for a given task; does not hesitate to help others when needed.
        </p>
        <div class="field form-group">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"0",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>Fails to meet minimum expectations</td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"1",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Seeks out opportunities to be mentored</p>
                  <p class="mb-0">Engages in collaborative assignments with energy and an open mind</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"2",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Eager to accept mentorship from other developers -- <i>including less experienced developers</i></p>
                  <p class="mb-0">Puts effort into collaborative assignments and improves team productivity</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"3",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Actively offers mentorship in areas of expertise</p>
                  <p class="mb-0">Champions collaborative assignments and team productivity while uplisfting team members</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"4",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Encourages mentorship opportunities between team members</p>
                  <p class="mb-0">Identifies and assigns collaborative assignments and improves organizational productivity</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:collaboration_score,"5",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p>Vastly exceeds all expectations</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-center"><%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_collaboration_score_clear', type: 'button', onclick: "document.getElementById('review_collaboration_score_0').checked = false; document.getElementById('review_collaboration_score_1').checked = false; document.getElementById('review_collaboration_score_2').checked = false; document.getElementById('review_collaboration_score_3').checked = false; document.getElementById('review_collaboration_score_4').checked = false; document.getElementById('review_collaboration_score_5').checked = false;", class: 'btn btn-link' %></th>
                <td>
                  <p>Clear Selection</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :collaboration_notes, "Comments" %>
        <%= f.text_area :collaboration_notes, size: "40x5", class: "form-control" %>
      </div>
    </div>
