    <div class="card-body">
      <h5>Concepts</h5>
      <div class="card-text">
        <p>Frameworks, Programming Languages, and Software Design Concepts</p>
        <div class="field form-group">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"0",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>Fails to meet minimum expectations</td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"1",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Displays a fundamental understanding of the concepts of software development</p>
                  <p class="mb-0">Produces meaningful code in at least one modern language</p>
                  <p class="mb-0">Displays an interest and/or proficiency in learning new concepts, languages, and frameworks</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"2",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Displays comfort with the relevant team's languages and frameworks</p>
                  <p class="mb-0">Produces functional results in a manner that is consistent with the complexity of a given task</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"3",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Displays mastery over the relevant team's languages and frameworks</p>
                  <p class="mb-0">Produces results that are both optimized and expedient</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"4",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Is familiar with the <i>leading edge</i> of concepts, languages, and frameworks relevant to the team's endeavors</p>
                  <p class="mb-0">Is familiar with the concepts, languages, and frameworks utilized by other teams</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:concepts_score,"5",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p>Vastly exceeds all expectations</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-center"><%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_concepts_score_clear', type: 'button', onclick: "document.getElementById('review_concepts_score_0').checked = false; document.getElementById('review_concepts_score_1').checked = false; document.getElementById('review_concepts_score_2').checked = false; document.getElementById('review_concepts_score_3').checked = false; document.getElementById('review_concepts_score_4').checked = false; document.getElementById('review_concepts_score_5').checked = false;", class: 'btn btn-link' %></th>
                <td>
                  <p>Clear Selection</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :concepts_notes, "Comments" %>
        <%= f.text_area :concepts_notes, size: "40x5", class: "form-control" %>
      </div>
