    <div class="card-body">
      <h5>Technical Communication</h5>
      <div class="card-text">
        <p>Engaged, self-organizing, self-driven in day-to-day processes, and enthusiastic about their day-to-day responsibilities</p>
        <div class="field form-group">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"0",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>Fails to meet minimum expectations</td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"1",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Explains current work and tecnical topics in a clear and cohesive manner</p>
                  <p class="mb-0">Asks questions</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"2",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Effectively explains technical ideas and concepts with depth and clarity</p>
                  <p class="mb-0">Asks insightful questions</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"3",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Explains and teaches technical ideas and concepts</p>
                  <p class="mb-0">Answers questions with clarity and patience</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"4",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Masterfully explains technical concepts with clarity to anyone in the organization and explains the concepts at the proper level of granularity</p>
                  <p class="mb-0">Approachable for all types of questions</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:dissertation_score,"5",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p>Vastly exceeds all expectations</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-center"><%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_dissertation_score_clear', type: 'button', onclick: "document.getElementById('review_dissertation_score_0').checked = false; document.getElementById('review_dissertation_score_1').checked = false; document.getElementById('review_dissertation_score_2').checked = false; document.getElementById('review_dissertation_score_3').checked = false; document.getElementById('review_dissertation_score_4').checked = false; document.getElementById('review_dissertation_score_5').checked = false;", class: 'btn btn-link' %></th>
                <td>
                  <p>Clear Selection</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :dissertation_notes, "Comments" %>
        <%= f.text_area :dissertation_notes, size: "40x5", class: "form-control" %>
      </div>
