    <div class="card-body">
      <h5>Technical Communication</h5>
      <div class="card-text">
        <p>Engaged, self-organizing, self-driven in day-to-day processes, and enthusiastic about their day-to-day responsibilities</p>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td>Fails to meet minimum expectations</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>
                <p class="mb-0">Explains current work and tecnical topics in a clear and cohesive manner</p>
                <p class="mb-0">Asks questions</p>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <p class="mb-0">Effectively explains technical ideas and concepts with depth and clarity</p>
                <p class="mb-0">Asks insightful questions</p>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <p class="mb-0">Explains and teaches technical ideas and concepts</p>
                <p class="mb-0">Answers questions with clarity and patience</p>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <p class="mb-0">Masterfully explains technical concepts with clarity to anyone in the organization and explains the concepts at the proper level of granularity</p>
                <p class="mb-0">Approachable for all types of questions</p>
              </td>
            </tr>
            <tr>
              <th scope="row">5</td>
              <td>
                <p>Vastly exceeds all expectations</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="field form-group">
        <%= f.label :dissertation_score, "Score" %>
        <div class="row">
          <div class="col">
            <%= f.radio_button(:dissertation_score,"0",{:class => "form-control"}) %>
          </div>
          <div class="col">
            <%= f.radio_button(:dissertation_score,"1",{:class => "form-control"}) %>
          </div>
          <div class="col">
            <%= f.radio_button(:dissertation_score,"2",{:class => "form-control"}) %>
          </div>
          <div class="col">
            <%= f.radio_button(:dissertation_score,"3",{:class => "form-control"}) %>
          </div>
          <div class="col">
            <%= f.radio_button(:dissertation_score,"4",{:class => "form-control"}) %>
          </div>
          <div class="col">
            <%= f.radio_button(:dissertation_score,"5",{:class => "form-control"}) %>
          </div>
          <div class="col text-center">
            <%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_dissertation_score_clear', type: 'button', onclick: "document.getElementById('review_dissertation_score_0').checked = false; document.getElementById('review_dissertation_score_1').checked = false; document.getElementById('review_dissertation_score_2').checked = false; document.getElementById('review_dissertation_score_3').checked = false; document.getElementById('review_dissertation_score_4').checked = false; document.getElementById('review_dissertation_score_5').checked = false;", class: 'btn btn-light' %>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <%= f.label(:dissertation_score_0,"0",{:class => ""}) %>
          </div>
          <div class="col text-center">
            <%= f.label(:dissertation_score_1,"1",{:class => ""}) %>
          </div>
          <div class="col text-center">
            <%= f.label(:dissertation_score_2,"2",{:class => ""}) %>
          </div>
          <div class="col text-center">
            <%= f.label(:dissertation_score_3,"3",{:class => ""}) %>
          </div>
          <div class="col text-center">
            <%= f.label(:dissertation_score_4,"4",{:class => ""}) %>
          </div>
          <div class="col text-center">
            <%= f.label(:dissertation_score_5,"5",{:class => ""}) %>
          </div>
          <div class="col text-center"><sm><i>Clear</i></sm></div>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :dissertation_notes, "Comments" %>
        <%= f.text_area :dissertation_notes, size: "40x5", class: "form-control" %>
      </div>
