    <div class="card-body">
      <h5>Engagement</h5>
      <div class="card-text">
        <p>Engaged, self-organizing, self-driven in day-to-day processes, and enthusiastic about their day-to-day responsibilities</p>
        <div class="field form-group">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"0",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Fails to meet minimum expectations</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"1",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Learns and adheres to VHT processes (SAFe processes, Agile mindset, etc.)</p>
                  <p class="mb-0">Learns to manage their time</p>
                  <p class="mb-0">Identifies when guidance is needed for a task and seeks proper team members</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"2",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Contributes to VHT processes (SAFe processes, Agile mindset, etc.)</p>
                  <p class="mb-0">Effectively manages their time</p>
                  <p class="mb-0">Offers guidance to other team members</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"3",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Actively contributes to VHT processes (SAFe processes, Agile mindset, etc.) and assists other team members in adhering to our processes</p>
                  <p class="mb-0">Effectively manages their time while assisting other team members as needed</p>
                  <p class="mb-0">Identifies when team members need guidance for a task and assists as needed</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"4",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Champions VHT processes (SAFe processes, Agile mindset, etc.) and instructs other team members about adhering to our processes</p>
                  <p class="mb-0">Effectively manages their time to assist other team members as needed</p>
                  <p class="mb-0">Actively identifies when a team member needs guidance and encourages team members to provide that guidance</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:engagement_score,"5",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p>Vastly exceeds all expectations</p>
                </td>
              </tr>
              <tr>
                <th scope"row" class="text-center"><%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_engagement_score_clear', type: 'button', onclick: "document.getElementById('review_engagement_score_0').checked = false; document.getElementById('review_engagement_score_1').checked = false; document.getElementById('review_engagement_score_2').checked = false; document.getElementById('review_engagement_score_3').checked = false; document.getElementById('review_engagement_score_4').checked = false; document.getElementById('review_engagement_score_5').checked = false;", class: 'btn btn-link' %></th>
                <td>
                  <p>Clear Selection</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :engagement_notes, "Comments" %>
        <%= f.text_area :engagement_notes, size: "40x5", class: "form-control" %>
      </div>
