    <div class="card-body">
      <h5>Best Practices</h5>
      <div class="card-text">
        <p>Submits constructive feedback on Pull Requests made within the team</p>
        <div class="field form-group">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"0",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>Fails to meet minimum expectations</td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"1",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Maintains a positive attitude toward learning the aspects of <i>clean code</i> and other <i>best practices</i>.</p>
                  <p class="mb-0">Willing to engage in the paradigm shift of <i>test driven development</i>, to recognize the value of unit tests, and to remain open to a <i>test first</i> approach to software development</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"2",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Follows accepted <i>best practices</i> under direction of senior resources</p>
                  <p class="mb-0">Produces tests that accurately describe the product's function, independent of the product itself</p>
                  <p class="mb-0">Understands and implements the practices of <i>clean code</i></p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"3",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Leads their team in the implementation of accepted <i>best practices</i></p>
                  <p class="mb-0">Posess a command of the more subtle aspects of unit testing, and help teammate to implement those where appropriate</p>
                  <p class="mb-0">Instruct their team in the practice of <i>clean code</i></p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"4",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p class="mb-0">Reviews emerging <i>best practices</i> and directs their practical implementation into established development processes</p>
                  <p class="mb-0">Champions <i>clean coding</i> practices across the department</p>
                  <p class="mb-0">Drives effective adoption of testing strategies across the department</p>
                </td>
              </tr>
              <tr>
                <th scope="row"><%= f.radio_button(:practices_score,"5",{:style => "min-height: 2rem; min-width: 2rem;", :class => "form-control"}) %></th>
                <td>
                  <p>Vastly exceeds all expectations</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-center"><%= button_tag image_tag("open-iconic/svg/ban.svg", size: "16"), id: 'review_practices_score_clear', type: 'button', onclick: "document.getElementById('review_practices_score_0').checked = false; document.getElementById('review_practices_score_1').checked = false; document.getElementById('review_practices_score_2').checked = false; document.getElementById('review_practices_score_3').checked = false; document.getElementById('review_practices_score_4').checked = false; document.getElementById('review_practices_score_5').checked = false;", class: 'btn btn-link' %></th>
                <td>
                  <p>Clear Selection</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="field form-group">
        <%= f.label :practices_notes, "Comments" %>
        <%= f.text_area :practices_notes, size: "40x5", class: "form-control" %>
      </div>
